.color-white {
  color: $color-white;
}

.color-red {
  color: $color-red;
}

.color-blue {
  color: $color-blue;
}

.color-green-light {
  color: $color-green-light;
}

.color-gray-light {
  color: $color-gray-light;
}

.color-warning {
  color: $color-warning;
}