.text-size-0 {
  font-size: 0;
}

.text-size-1 {
  font-size: 2.5rem;
}

.text-size-2 {
  font-size: 2rem;
}

.text-size-3 {
  font-size: 1.75rem;
}

.text-size-4 {
  font-size: 1.5rem;
}

.text-size-5 {
  font-size: 1.25rem;
}

.text-size-6 {
  font-size: 1rem;
}

.text-size-7 {
  font-size: 0.85rem;
}

.text-size-8 {
  font-size: 0.75rem;
}
